.artist-card {
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;

}

.artist-card__image {
    flex: 0 0 200px;
    width: 100%;
    overflow: hidden;
}

.artist-card__info {
    flex: 1 1 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}